.App{ /*Renders main window*/
  height: auto;
  width: 100%;
  text-align: center;
  border: 5px solid;
  border-color: #0000ff;

  display: grid;
  grid-template-columns: 15% 15% 70%;
  grid-template-rows: 100%;
}

